.fftk {
    background-color: #F9FAFA;
}

.fftk .panel01 {
    background-color: white;
    background-image: url(../images/business.33b3f32a.jpg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 0px center;
    min-height: 216px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.fftk .panel02 {
    background-color: white;
    background-image: url(../images/download.svg);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 0px center;
    min-height: 216px;
    display: flex;
    align-items: center;
    background-position: 100%;
}

.fftk .content {
    width: 50%;
    padding: 30px;

}

.fftk h3 {
    font-size: 28px;
}

.fftk p {
    margin-bottom: 20px;
}