header {
    background-color: aqua;
    min-height: 554px;
    background-size: cover;
    background-image: url(../images/header_bg.png)
}

header .container {
    padding-bottom: 0px;
}

header h1 {
    line-height: 41px;
    color: #421961;
}

header h5 {
    font-weight: 400px;
    margin: 10px 0;
    font-size: 16px;
}

header .logo {
    height: 32px;
}

header .container .topMenu {
    display: flex;
    gap: 10px;
    justify-content: end;

}

header .topMenu a {
    background-color: white;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid #f5f5f5;
}

header .topMenu a:hover {
    border: 1px solid #B9BBBB;
}

header i {
    color: #00CCBC;
    margin-right: 5px;
}

header .imageContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

header .content .searchBox {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
}

header .content .searchBox form {
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
}

header .content .searchBox input {
    width: 100%;
    border: solid 1px #E9E8E8;
    box-shadow: 1px 6px 4px -2px rgba(218, 218, 218, 0.25) inset;
    border-radius: 4px;
    padding-left: 10px;
}

header .content .searchBox form {
    position: relative;
}

header .content .searchBox form .arrow {
    position: absolute;
    top: 12px;
    right: 115px;
}

header .content {
    margin-top: 135px;
}

header .content .searchBox p a {
    color: #00CCBC;
}

header .content .searchBox p a:hover {
    text-decoration: underline;
}