.wwdf .container {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .listLocations {
        display: flex;
        gap: 10PX;
        flex-wrap: wrap;
        row-gap: 10px;
    }



    .listLocations li {
        display: inline-block;
        background-color: #F9FAFA;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 700;
        font-size: 21px;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 3px;
        line-height: 44px;
    }

   
